@charset "utf-8";

// $dark-sea: rgba(2,0,36,1);
// $sea: rgba(9,9,121,1);
// $light-sea: rgba(0,212,255,1);
// $turquoise: hsl(159.3, 45.4%, 48.8%);
// $light-green: hsl(105, 56.1%, 67.8%);
// $soft-yellow: #53a8a3;
// $white-ter: hsl(0, 0%, 96%);

// $primary: $sea;
// $info: $light-sea;
// $link: $light-sea;
// $success: $turquoise;
// $warning: $light-sea;


@import "../../node_modules/bulma/bulma.sass";


// .header-image {
//     background: rgb(2,0,36);
//     background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
// }


.hero-body {
    .container{
        img {
            max-width: 200px;
            width: 100%;
            height: auto;
        }
    }
}



// .navbar-dropdown {
//     background-color: $sea;
// }

