{% extends "base.html" %}

{% block content %}
	<div class="columns">
		<div class="column">
			<h1 class="title">Bienvenido a Python Granada</h1>
			<h2 class="subtitle">La comunidad dedicada a Python en Granada y alrededores</h2>
		</div>
		<div class="column">
			{{ ABOUT_EXTRACT }}
		</div>
	</div>
	<div class="container">
		<h4 class="title is-4">Últimas publicaciones</h4>
		{% for article in (articles_page.object_list if articles_page else articles) %}
			{% include "_includes/article_extract.html" %}
		{% endfor %}
	</div>
{% endblock content %}
