name: Pelican site CI

on:
  # Trigger the workflow on push or pull request,
  # but only for the master branch
  push:
    branches:
      - master

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - uses: josemlp91/gh-pages-pelican-action@0.1.8
      env:
        GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}